a {
    text-decoration: none;
}

/* .login-panel, .form {
    border: 2px solid #0C4064;
} */

body {
    background-color: #CDDBEB !important;
}

.extra-top-margin {
    margin-top: 10px;
}

label {
    margin-bottom: 0px;
    padding-top: 2.5px;
}

.btn-link {
    border: 2px solid #337AB7;
}

a.btn-link:hover {
    border: 2px solid #337AB7;
    text-decoration: none;
}

tbody > tr {
    border-bottom: 0.5px solid #000;
}

tbody > tr > td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

thead > tr {
    border-bottom: 2px solid #000;
}

dt {
    border: 0.5px solid #337AB7;
    padding-right: 10px;
    margin-bottom: 5px;
}

.extra-extra-top-margin {
    margin-top: 25px;
}

.top-border {
    border-top: 2px solid #337AB7;
}